<html>
  <head>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    <div class="Atom-box">
      {% for i in atomRange %}
        <div class="Atom-circle"
          onclick="ChangeAtom({{i}})"
          id="{{i}}">
        </div>
      {% endfor %}
    </div>
    <form method="POST" action="/ml/">
      {% csrf_token %}
      {% for field in form %}
        {{ field }}
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <script type="text/javascript">
      var changedAtomList = [];
      function ChangeAtom(i) {
        var elem = document.getElementById(i);
        var background = getComputedStyle(elem).getPropertyValue("background-color");
        var nextBackground = null;
        if (background === 'rgb(255, 0, 0)') {
          nextBackground = 'yellow';
          changedAtomList.push(i);
        } else {
          nextBackground = 'red';
          var index = changedAtomList.indexOf(i);
          if (index > -1) {
            changedAtomList.splice(index, 1);
          }
        }
        document.getElementById(i).style.background = nextBackground;
        document.getElementById('id_atomList').value = changedAtomList;
        console.log(changedAtomList);
      }
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var result = [];
        result = {{result}};
        result.splice(0, 0, ['x','y']);
        var data = google.visualization.arrayToDataTable(result);
        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </body>
</html>
